[[source]]
url = "https://pypi.org/project/python_deriv_api"
verify_ssl = true
name = "python-driv-api"

[packages]
websockets = "==9.1"
asyncio = ">=3.4.3"
rx = "==3.1.1"
deriv-api = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pdoc3 = "*"
coverage = "===4.5.4"

[requires]
python_version = "3.9.6"
